/*
======================================
          gbRNA-seq pipeline
======================================
Author
- Ye Wang <yewangfaith@gmail.com>
 */
import java.time.*
Date now = new Date()

// manifest
manifest {
	author = "Ye Wang"
	description = "A nextflow pipeline for genome-based RNAseq"
	mainScript = "main.nf"
	nextflowVersion = ">=20.01.0"
	version = "1.0"
}

// params for pipelines info
params {
	tracedir = "pipeline_info"
	timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

conda {
	conda.enabled = true
	conda.cacheDir = ".env"
	createTimeout = "60 min"
}

// set profile
profiles {
	debug { includeConfig "conf/debug.config" }
	standard { includeConfig "conf/standard.config" }
}

timeline {
	enabled = true
	file = "${params.tracedir}/timeline/${params.timestamp}_trace.txt"
}

dag {
	enabled = true
	file = "${params.tracedir}/dag/${params.timestamp}+dag.svg"
}

trace {
	enabled = true
	file = "${params.tracedir}/dag/${params.timestamp}.pipeline_trace.txt"
	fields = "task_id, name, status, exit, realtime, %cpu, rss"
}

report {
	enabled = true
	file = "${params.tracedir}/report/${params.timestamp}_report.html"
}