/*
================
 Debug pipeline
================
*/


params {
	
	debug = "true"
	genome_dir = "/mnt/analysis/Ye/reference_genome/giant_panda/bwa_index_ensembl/Ailuropoda_melanoleuca.ASM200744v2.dna_sm.primary_assembly.all.fa.gz"
	params.gtf = "/mnt/analysis/Ye/reference_genome/Red_Panda/Red_Panda.V2.gtf"
	reference_genome = "/mnt/analysis/Ye/reference_genome/giant_panda/bwa_index_ensembl/faidx/Ailuropoda_melanoleuca.ASM200744v2.dna_sm.primary_assembly.all.fa.gz"

	// Variant Filtering
	min_depth = 0.4
	qual = 10.0
	strand_odds_ratio = 1.0
	quality_by_depth = 2.0
	fisherstrand = 10.0
	high_missing = 0.1
	high_heterozygosity = 0.01

}

process {
	conda = "/home/wangye/miniconda3/envs/primary_env"

	// cpu and memory
	cpus = 1
	memory = 2
}
