/*
================
 Standard pipeline
================
*/


params {
	
	debug = "false"
	genome_dir = "/mnt/analysis/Ye/reference_genome/giant_panda/bwa_index_ensembl/Ailuropoda_melanoleuca.ASM200744v2.dna_sm.primary_assembly.all.fa.gz"
	params.gtf = "/mnt/analysis/Ye/reference_genome/Red_Panda/Red_Panda.V2.gtf"
	reference_genome = "/mnt/analysis/Ye/reference_genome/giant_panda/bwa_index_ensembl/faidx/Ailuropoda_melanoleuca.ASM200744v2.dna_sm.primary_assembly.all.fa.gz"

}

process {
	
	conda = "/home/wangye/miniconda3/envs/primary_env"

	withLabel: 'large' {
		cpus = 8
		memory = 4
	}
}
